{
  "root": true,
  "extends": "eslint-config-airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "2017"
  },
  "rules": {
    "max-len": 0,
    "no-shadow": ["error", { "allow": ["cb", "err", "result"] }],
    "no-param-reassign": ["error", { "props": false } ],
    "no-use-before-define": 0,
    "space-before-function-paren": 0,
    "consistent-return": 0,
  }
}
